doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Slez Developer Test - Asael
    link(rel="stylesheet", href="dist/css/handsome.css")
    link(rel="stylesheet", href="dist/svg/svg-symbols.css")
body
    include ../../../dist/svg/svg-symbols.svg
    include includes/mixins
    
    script#widget-template(type="text/x-handlebars-template")
        //- Widget
        .widget
            //- Share Button
            .share
                a.link(href="https://twitter.com/intent/tweet?status={{Title}} {{ShortUrl}}", target="_blank")
                    +icon('share')
            //- Photo of the product
            .photo
                img.img.large(src="{{ImageUrlLarge}}", alt="{{Title}}")
                img.img.small(src="{{ImageUrlSmall}}", alt="{{Title}}")
            //- Content of the product
            .content
                h1.title {{Title}}
                .prices
                    span.price {{Price}}
                    span.regular-price {{RegularPrice}}
                .description
                    p {{Description}}
                .quantity
                    h4.caption Quantity
                    .qty
                        .minus
                            +icon('minus')
                        input.input-qty(type="number", name="quantity", value="1" min="1", max="{{QuantityLeft}}")
                        .add
                            +icon('plus')
                    .available of {{QuantityLeft}} {{Resources.Available}}
                .secure
                    h4.caption 100% SSL Secure. We accept
                    ul.flags
                        li.flag
                            +icon('visa')
                        li.flag
                            +icon('mastercard')
                        li.flag
                            +icon('amex')
                        li.flag
                            +icon('paypal')
                        li.flag
                            +icon('jcb')
                        li.flag
                            +icon('discover')
                        li.flag
                            +icon('diners')
                    a.powered(href="ttps://selz.com/", target="_blank")
                        | Powered by 
                        +icon('selz')
                    a.buy.button.green(href="{{CheckoutUrl}}") {{Resources.LinkText}}
                    
    
    //- Scripts
    script(type="text/javascript", src="dist/js/min/scripts.min.js")
    
    
