doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Slez Developer Test - Asael
    link(rel="stylesheet", href="dist/css/handsome.css")
body
    
    //- Widget
    .widget
        //- Share Button
        .share
            a.link(href="https://twitter.com/intent/tweet?status=Basic Work Pants http://url.com", target="_blank")
                img.icon(src="dist/img/share.svg")
        //- Photo of the product
        .photo
            img.img(src="dist/img/pants.jpg", alt="pants")
        //- Content of the product
        .content
            h1.title Basic Work Pants
            .prices
                span.price $79.98
                span.regular-price $99.99
            .description
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus et augue euismod sollicitudin. Sed ultrices turpis a convallis rhoncus. Maecenas malesuada hendrerit arcu ac euismod. Nam eleifend metus orci. Nam facilisis iaculis nunc eget sagittis.
            .quantity
                h4.caption Quantity
                .qty
                    .minus
                        img.icon(src="dist/img/minus.svg")
                    input.input-qty(type="number", name="quantity", value="1" min="1", max="100")
                    .add
                        img.icon(src="dist/img/plus.svg")
                .available of 100 available
            .secure
                h4.caption 100% SSL Secure. We accept
                ul.flags
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                    li.flag
                        img.img(src="http://placehold.it/16x16", alt="name")
                .powered
                    | Powered by
                    img.logo(src="http://placehold.it/16x16", alt="logo")
                a.buy.button.green(href="#") Buy it now
                    
    
    //- Scripts
    //- script(type="text/javascript", src="dist/js/min/scripts.min.js")
    
    
